.change-date {
    grid-row: 2/3;
    grid-column: 4/5;
    justify-self: start;

    font-size: 30px;
    line-height: 19px;
    text-align: center;
    color: white;
    font-family: $font-roboto; 
    font-weight: 50;

    background-color: transparent;
    border: none;

    transform: rotate(-77deg) translate(10px, 10px);
    
    &:focus {
        outline: none;
    }

    i {
        margin-right: 10px;
    }

}
